[Desktop Entry]
Version=1.0
Name=Kvantum Manager
Name[pl]=Menedżer Kvantum
Comment=A simple GUI for installing, selecting and manipulating Kvantum themes
Comment[pl]=Proste GUI pozwalające na instalowanie, wybór i modyfikację motywów Kvantum
Exec=kvantummanager
Icon=kvantum
Terminal=false
Type=Application
Categories=Qt;Utility;Settings;DesktopSettings;LXQt;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;X-GNOME-PersonalSettings;
X-KDE-StartupNotify=false
