[Desktop Entry]
Version=1.0
Name=Kvantum Manager
Name[eo]=Administrilo de Kvantum
Name[fr]=Gestionnaire Kvantum
Name[hu]=Kvantum kezelő
Name[it]=Gestore Kvantum
Name[ja]=Kvantum マネージャー
Name[lt]=Kvantum tvarkytuvė
Name[pl]=Menedżer Kvantum
Name[ru]=Диспетчер Kvantum
Name[tr]=Kvantum Yöneticisi
Comment=A simple GUI for installing, selecting and manipulating Kvantum themes
Comment[eo]=Simpla grafika interfaco por instali, elekti kaj agordi la etosojn de Kvantum
Comment[fr]=Une interface graphique simple pour installer, choisir et personnaliser les thèmes Kvantum
Comment[hu]=Egy egyszerű GUI Kvantum témák telepítéséhez, kiválasztásához, beállításához
Comment[it]=Interfaccia grafica per installare, gestire e modificare i temi di Kvantum
Comment[ja]=Kvantum テーマをインストール・選択・操作するシンプルな GUI です
Comment[lt]=Paprasta grafinė naudotojo sąsaja, skirta Kvantum temų diegimui, pasirinkimui ir manipuliavimui
Comment[pl]=Proste GUI pozwalające na instalowanie, wybór i modyfikację motywów Kvantum
Comment[ru]=Простой графический пользовательский интерфейс для установки, выбора и управления темами Kvantum
Comment[tr]=Kvantum temalarını yüklemek, seçmek ve değiştirmek için basit bir Arayüz
Exec=kvantummanager
Icon=kvantum
Terminal=false
Type=Application
Categories=Qt;Utility;Settings;DesktopSettings;LXQt;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;X-GNOME-PersonalSettings;
X-KDE-StartupNotify=false
